source https://www.nuget.org/api/v2
cache ./nupkgs versions: current

nuget System.Text.Encoding.CodePages #
nuget FParsec 1.0.4-RC3 #
nuget FSharp.Data 3.0.0-beta3 #
nuget FSharp.Collections.ParallelSeq #
nuget DotNet.Glob #
nuget FSharpx.Collections #
nuget Sandwych.QuickGraph.Core #
nuget FsPickler #
nuget LibGit2Sharp #
nuget FSharp.Core 4.7.0 #



group build
    source https://www.nuget.org/api/v2


group git
    git file:///C:/users/thomas/git/cwtools master