source https://www.nuget.org/api/v2
cache ./nupkgs versions: current

nuget System.Text.Encoding.CodePages #
nuget FParsec 1.0.4-RC3 #
nuget FSharp.Data 3.0.1 #
nuget FSharp.Collections.ParallelSeq #
nuget DotNet.Glob #
nuget FSharpx.Collections #
nuget Sandwych.QuickGraph.Core #
nuget FsPickler #
nuget FSharp.Core 6.0.0 #

group WindowsLibGit
    source https://www.nuget.org/api/v2
    cache ./nupkgs versions: current
    nuget LibGit2Sharp 0.26.2
    nuget LibGit2Sharp.NativeBinaries

group LinuxLibGit
    source https://www.nuget.org/api/v2
    cache ./nupkgs versions: current
    nuget LibGit2Sharp 0.27.0-preview-0096
    nuget LibGit2Sharp.NativeBinaries

group git
    git file:///C:/users/thomas/git/cwtools master