source https://www.nuget.org/api/v2
cache ./nupkgs versions: current


nuget FSharp.Compiler.Service
nuget Microsoft.NET.Test.Sdk 15.0.0
nuget NUnit 3.8.1
nuget NUnit3TestAdapter 3.8.0
nuget System.Text.Encoding.CodePages
nuget FParsec
nuget FSharp.Data 3.0.0-beta3
nuget Newtonsoft.Json.Fsharp
nuget FSharp.Collections.ParallelSeq
nuget DotNet.Glob
nuget FSharpx.Collections
nuget Sandwych.QuickGraph.Core
nuget Microsoft.AspNetCore.App 2.1.2
nuget FsPickler
nuget LibGit2Sharp


source https://dotnet.myget.org/F/dotnet-core/api/v3/index.json
nuget ILLink.Tasks 0.1.4-preview-981901

group build
    source https://www.nuget.org/api/v2


group git
    git file:///C:/users/thomas/git/cwtools vNext